body {
	margin: 0;
	font-family: Helvetica;
	background-color: #ede1e1;
}

h1 {
	font-weight: 500;
}

#logo {
	height: 100px;
	width: 120px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column; 
}